<%= form_for(@sesh) do |f| %>
  <% if @sesh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sesh.errors.count, "error") %> prohibited this sesh from being saved:</h2>

      <ul>
      <% @sesh.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% if @sesh.id %>
    <div class="field">
      Ended at:<br>
      <%= @sesh.ended_at %>
    </div>
    <div class="actions">
     <%= f.submit "END SESH BRO" %>
    </div>
  <% else %>
    <%= f.submit %>
  <% end %>

<% end %>
