<h2>Listing seshes</h2>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Session</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Duration</th>
      <th>Tracs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seshes.each do |sesh| %>
      <tr>
        <td><%= sesh.name %></td>
        <td><%= sesh.created_at.strftime("%m/%d/%Y @%I:%M%P") %></td>
        <td>
        <% if sesh.ended_at.nil? %>
        SESSION IN PROGRESS
        <% else %>
        <%= sesh.ended_at.strftime("%m/%d/%Y @%I:%M%P") %>
        <% end %>
        </td>
        <td>
        <% if sesh.length.nil? %> 
        EMPTY
        <% else %>
        <%= sesh.length %> minutes
        <% end %>
        </td>
        <td> #INSERT WITH TRACS </td>
        
        <td>
        <%= link_to 'Delete', sesh, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>