<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sesh.name %>
</p>

<%= form_for(@sesh) do |f| %>

	<% if @sesh.id %>
  <div class="btn">
    <%= link_to "Add Tracs to this session!", new_trac_path %>
  </div>
    <div class="actions">
    	<%= f.submit "END SESH BRO" %>
          </div>
  <% end %>

<% end %>

#insert tracks tally here.

<%= link_to 'Back', root_path %>



